replicaCount: 2

image:
  repository: khatanve/my-image
  tag: "latest"  # Specify your image tag here
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  targetPort: 8080
  nodePort: 30000

resources: {}

ingress:
  enabled: true
  host: mytestspring.com
  path: /
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
